<!DOCTYPE html>

<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for ('static', filename='drawscapes_scripts.js')}}"></script>
    <base target="_top">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for ('static', filename='drawscapes_styles.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=0.30">

</head>

<body>
    <br> </br>
    <!-- Centered top menu with stages-->
    <div class=container6>
        <!--container centering items-->
        <div class="row">
            <div class="column" id="btn1" style="color: #4a4a4a;"> 1 <br> screern fit </div>
            <div class="column" id="btn2" style="color: #4a4a4a;"> 2 <br> draw </div>
            <div class="column" id="btn3" style="color: #4a4a4a;"> 3 <br> connectivity </div>
            <div class="column" id="btn4" style="color: #4a4a4a;"> 4 <br> style </div>
            <div class="column" id="btn5" onclick="openTab('b5');"> 5 <br>  buildings </div>
            <div class="column" id="btn6" onclick="openTab('b6');"> 6 <br>  statistics  </div>
            <div class="column" id="btn7" onclick="openTab('b7');"> 7  <br> key uses </div>
            <div class="column" id="btn8" style="color: #4a4a4a;"> 8 landscape <br> </div>
            <div class="column" id="btn9" style="color: #4a4a4a;"> 9  <br> survey </div>
            <div class="column" id="btn10" style="color: #4a4a4a;"> 10  <br> feedback </div>
        </div>
    </div>

    <!-- central layout-->
    <div class="central-layout">
        <div role="group" class="btn-group" style="text-align:center">
            <canvas id="canvas" width="700" height="700"> </canvas>
            <!-- drawing canvas on the left-->
            <img id="feedback" width="700" height="700"> </img>
            <!--feedback area on the right-->
            <div id="overlay">
                <div id="ldr" class="loader"> </div>
            </div>
            <!--overlay loader-->
        </div>
    </div>

    <!-- full menus below  -->
    <div class=container6>
        <!--container centering items-->

        <!-- Stage 5: DRAW MASSING -->
        <div id="b5" class="containerTab" style="display:none;background:none">
            <div class="row">
                <div class="column" id="btnerase" onclick="myClear(1,1);"> erase </div>
                <div class="column" id="btn-back" onclick="myBack();"> restart </div>
                <div class="column" onclick="myReplay('video_5');"> load intro </div>
                <div class="column"> - </div>
                <div class="column"> - </div>
                <div class="column" id="btn-base" onclick="newCanvasStroke(1);"> base <br> </div>
                <div class="column" id="btn-plynth" onclick="newCanvasStroke(2);"> plinth </div>
                <div class="column" id="btn-tower" onclick="newCanvasStroke(3);"> tower </div>
                <div class="column"> - </div>
                <div class="column"> - </div>
            </div>
        </div>

        <!-- Stage 6: MASSING FEEDBACK-->
        <div id="b6" class="containerTab" style="display:none;background:none">
            <div class="row">
                <div class="column" id="btnerase" onclick="myClear(1,1);"> erase </div>
                <div class="column" id="btn-back" onclick="myBack();"> restart </div>
                <div class="column" onclick="myReplay('video_6');"> load intro </div>
                <div class="column"> - </div>
                <div class="column"> - </div>
                <div class="column" id="btn-base" onclick="myPassDataMassingCalc(4);"> evaluate quantities </div>
                <div class="column"> - </div>
                <div class="column"> - </div>
                <div class="column"> - </div>
                <div class="column"> - </div>
            </div>
        </div>

    </div>

</body>

<script>
    //--------------------------------------------------------------------------
    //imports images for canvas background, feedback screen and sets new canvas and colors buttons
    //--------------------------------------------------------------------------
    image_canvas.src = "{{url_for ('data', filename='ADDSHARE2') }}".replace("ADDSHARE2", '{{ imagename }}');
    //image_canvas.src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/base_image.jpg" ); //temporary

    image_video.src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/Intro_5.jpg");
    ctx = document.getElementById('canvas').getContext("2d"); //imports data from previosly defined canvas
    document.addEventListener("load", newWhiteCanvas(0)); //Initializes canvas when background image is ready 
    image_canvas.onload = function() {
        color_buttons_neutral() //turns all the rest of buttons to neutral color
        document.getElementById("btn5").style.background = color5; // colors button in stage color
        image_video.src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/Intro_5.jpg");
        document.getElementById("feedback").src = image_video.src;
        $('html').css('background', color5);
        newcanvas(image_canvas, 1, 1);
        newCanvasStroke(1)
        document.getElementById("feedback").src = image_video.src;
        openTab('b5')
        document.getElementById("overlay").style.visibility = "hidden";
        document.getElementById("ldr").style.visibility = "hidden";
    }


    //--------------------------------------------------------------------------
    // Reloads gif video. For some reason does not work if placed in .js file
    //--------------------------------------------------------------------------
    function myReplay(video_name){
              image_video.src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/".concat(video_name).concat('.gif'));
            document.getElementById("feedback").src = image_video.src;
    }


    //--------------------------------------------------------------------------
    //functinality for header buttons
    //--------------------------------------------------------------------------
    $(document).ready(function() {
        $("#btn5").on("click", function() {
            color_buttons_neutral()
            document.getElementById("btn5").style.background = color5;
            $('html').css('background', color5);
        });
    });

    $(document).ready(function() {
        $("#btn6").on("click", function() {
            color_buttons_neutral()
            image_video.src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/Intro_6.jpg");
            document.getElementById("feedback").src = image_video.src;
            document.getElementById("btn6").style.background = color6;
            $('html').css('background', color6);
        });
    });

    $(document).ready(function() {
        $("#btn7").on("click", function() {
            color_buttons_neutral()
            image_video.src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/Intro_7.jpg");
            document.getElementById("feedback").src = image_video.src;
            document.getElementById("btn7").style.background = color7;
            $('html').css('background', color7);
            myPassLandscape(4);
        });
    });

    function myBack() {
        window.location.replace("{{url_for ('drawscapes') }}");
    }


    //--------------------------------------------------------------------------
    // Reloads gif video. For some reason does not work if placed in .js file
    //--------------------------------------------------------------------------
    function myReplay(video_name){
              image_video.src = "{{url_for ('static', filename='ADDSHARE2') }}".replace("ADDSHARE2", "images/".concat(video_name).concat('.gif'));
            document.getElementById("feedback").src = image_video.src;
    }


    //----------------------------------------------------------------------------------------------
    // Functions passing data to backend and bringing feedback to front end
    //----------------------------------------------------------------------------------------------
    function myPassDataMassingCalc(declared_style) {
        var js_data = JSON.stringify(mySave(declared_style));
        document.getElementById("overlay").style.visibility = "visible";
        document.getElementById("ldr").style.visibility = "visible";
        $.ajax({
            url: '/drawscapes_land_use_analysis',
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: js_data
        }).done(function(result) {
            image_feedback_link = result;
            console.log(result);
            image_back.src = "{{url_for ('data', filename='ADDSHARE') }}".replace("ADDSHARE", image_feedback_link);
            image_back.onload = function() {
                document.getElementById("feedback").src = image_back.src;
                document.getElementById("overlay").style.visibility = "hidden";
                document.getElementById("ldr").style.visibility = "hidden";
            };
            $("#data").html(result);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log("fail: ", textStatus, errorThrown);
        });
    }

    function myPassLandscape(declared_style) {
        var js_data = JSON.stringify(mySave(declared_style));
        document.getElementById("overlay").style.visibility = "visible";
        document.getElementById("ldr").style.visibility = "visible";
        $.ajax({
            url: '/drawscapes_landscape_base',
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: js_data
        }).done(function(result) {
            image_feedback_link = result;
            document.getElementById("overlay").style.visibility = "hidden";
            document.getElementById("ldr").style.visibility = "hidden";
            window.location.replace("{{url_for ('drawscapes_land_use', filename='ADDSHARE') }}".replace("ADDSHARE", image_feedback_link));
        })
    }

</script>

</html>